.profilepic {
	max-width:100%;
	min-height:50%;margin-bottom: 10;
}
.col-md-8 {color: black;}
.bodystyle {background-size:cover;padding-top: 70px;}
.rightcolumn {margin-top: 50;}
.leftcolumn {margin-top: 10; opacity: 0.8;}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.rightcolstyle {background-color: #ffffff; opacity: 0.8; margin-top: 10; text-align: justify;}
.card-title{font-family: 'Amatic SC', cursive; font-size: 300%;}
.website-title{color: #293d3d;font-family: 'Amatic SC', cursive; font-size: 400%;}
.nav-item{font-family: 'Amatic SC', cursive;font-size: 200%; opacity: 0.8;}